iframe, p{
    width: 400px;
    margin-left: 30%;
    border: 3px solid purple;

}

div{
    position: fixed;
    height: 200px;
    width: 275px;
    background-color: aquamarine;
    padding: 25px;



}